*{
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
 /* height: 100vh;*/
  background: linear-gradient(135deg, #fff, #13C5DD, #fff);

}

header{
 background-color: linear-gradient(135deg, #fff, #13C5DD, #fff);
 width: 100%;
 height: 50px;
 line-height: 50px;

 color: #043969;
 font-weight: 700;
 font-size: 22px;
 margin-bottom: 0px;
 
}

#container1{
  
  width: 80%;
  height: 50px;
  line-height: 50px;
  background-color: #043969; 
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  margin: 0 auto;
  text-align: center;
  
}

#container2{
  width: 80%;
  height: 400px;
  background-color: #13C5DD; 
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  display: flex;
}

#block1{
  background-color: #fff; 
  width: 42%;
  height: 100%;
  text-align: center;
}

#block2{
  background-color: #fff;
  width: 58%;
  height: 100%;
  font-weight: 600;
  font-size: 18px;
  color: #043969;
  border-style: dotted;
  border-color: #043969;
  text-align: center;
}
li {
	padding-bottom: 20px;
}

.block button {
   height: 30px;
   width: 80%;
   border-radius: 5px;
   border: none;
   color: #043969;
   font-size: 21px;
   font-weight: 600;
   cursor: pointer;
   background:  #13C5DD;
    
 }

a{
  font-size: 21px;
  font-weight: 600;
  margin-left: 130px;
}

td {
	text-align: center;
	height: 100 px;
	font-weight: 500;
    font-size: 22px;
}
