<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="stylelogin.css">
	</head>
	<body>
		<div class="container">
			<div class="title">Appointment Form</div>
				<div class="content">
					<form action="#">
						<div class="user-details">
							<div class="input-box">
								<span class="details">Name</span>
								<input type="text" placeholder="Enter your name" required>
							</div>
							<div class="input-box">
								<span class="details">Surname</span>
								<input type="text" placeholder="Enter your surname" required>
							</div>
							<div class="input-box">
								<span class="details">Preferred dates</span>
								<input type="date" required>
							</div>
							<div class="input-box">
								<span class="details">Doctor specialization</span>
								<select name="specialization" required>  
									
								</select> 
							</div>
							<div class="input-box">
								<span class="details">Doctor</span>
								<select name="specialization" required>  
									
								</select>
							</div>
							<div class="input-box">
								<span class="details">Contact</span>
								<input type="text" placeholder="Enter your contact details" required>
							</div>
							
							<div class="button" id = "mapp1">
								<input type="submit" id = "mapp" value="Make an appointment">
							</div>
						</div>	
					</form>
				</div>
        </div>
	</body>
</html>