<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<title>DenSys.me</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/stylelogin.css">
	</head>
	<body>
		<div class="container">
			<div class="title">Registration for patient</div>
				<div class="content">
					<form action="/register/patient" method="post">
						<div class="user-details">
							<div class="input-box">
								<span class="details">Date of birth</span>
								<input name= "bdate" type="date" required>
							</div>
							<div class="input-box">
								<span class="details">IIN number</span>
								<input  name= "iin" type="text" placeholder="Enter patient's IIN number" required>
							</div>
							<div class="input-box">
								<span class="details">ID number</span>
								<input name= "id"  type="text" placeholder="Enter patient's ID number" required>
							</div>
							<div class="input-box">
								<span class="details">Name</span>
								<input name= "name"  type="text" placeholder="Enter patient's name" required>
							</div>
							<div class="input-box">
								<span class="details">Surname</span>
								<input  name= "surname" type="text" placeholder="Enter patient's surname" required>
							</div>
							<div class="input-box">
								<span class="details">Middlename</span>
								<input name= "middlename"  type="text" placeholder="Enter patient's middlename" required>
							</div>
							<div class="input-box">
								<span class="details">Blood group</span>
								<input  name= "bloodgroup" type="text" placeholder="Enter patient's blood group" required>
							</div>
							<div class="input-box">
								<span class="details">Emergency contact number</span>
								<input  name= "contact_e" type="text" placeholder="Enter patient's emergency contact number" required>
							</div>
							<div class="input-box">
								<span class="details">Contact number</span>
								<input name= "contact"  type="text" placeholder="Enter patient's contact number" required>
							</div>
							<div class="input-box">
								<span class="details">Email</span>
								<input name= "email"  type="text" placeholder="Enter patient's email">
							</div>
							<div class="input-box">
								<span class="details">Address</span>
								<input name= "adress"  type="text" placeholder="Enter patient's address" required>
							</div>
							<div class="input-box">
								<span class="details">Marital status</span>
								<input name= "marital"  type="text" placeholder="Enter patient's marital status" required>
							</div>
							<div class="input-box">
								<span class="details">Registration date</span>
								<input name= "reg_date"  type="date" required>
							</div>

							<div class="button">
								<input type="submit" value="Register">
							</div>
						</div>
					</form>
					<div id = "containr">
						<a href = "registrationdoctor.html">Registration for Doctor</a>
					</div>
				</div>
        </div>
	</body>
</html>
