<html lang="en" dir="ltr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/search.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<header>
			<div>
				<a href="index.html">DenSys.me</a>
			</div>
		</header>
		<div class = "container" id = "container1">
			<a id = "app">MAKE AN APPOINTMENT</a>
        </div>
		
		<div class = "container" id = "container2">
			<div class = "block" id = "block1">
				<input type="text" placeholder="Search...">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
			<div class = "block" id = "block2">
				<select name="specialization">  
					<option value="" disabled selected>Select doctor specialization</option>
				
				</select>  
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
		
		</div>
	</body>
</html>
